<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Metal-Engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9221170121D0B99E00D4D86D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9221171621D0B99F00D4D86D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9221172121D0B99F00D4D86D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
